<% if @notice == :success %>
  <%= render(AlertComponent.new text: 'Nachricht erfolgreich abgeschickt', icon: 'circle-check', style: :success) %>

<% else %>
  <%= render 'messages/form', message: @message do %>
    <div class="message-form-notice">
      <% if @notice == :failure %>
        <%= render(AlertComponent.new text: 'Fehler beim abschicken der Nachricht', style: :error) %>
      <% end %>
    </div>
  <% end %>
<% end %>

