<%= stylesheet_link_tag "download" %>

<dialog class="download-modal">
  <h1>Neuer download</h1>
  <%= render 'downloads/form', download: @download, form_path: admin_downloads_path %>

  <form method="dialog">
    <%= render IconButtonComponent.new icon: :x, text: 'Abbrechen', classes: "download-modal__close btn--plain"%>
  </form>
</dialog>
