<dialog class="download-modal">
  <%= render 'downloads/form', download: @download %>

  <form method="dialog">
    <%= render IconButtonComponent.new icon: :x, text: 'Abbrechen', classes: "download-modal__close btn--plain"%>
  </form>
</dialog>

<!--<div>-->
<!--  <%#= link_to "Download bearbeiten", edit_download_path(@download) %> |-->
  <%#= link_to "Zurück zu allen Downloads", downloads_admin_path %>

  <%#= render "formelements/delete_action", url: @download %>
<!--</div>-->
