@import '../mixins/*';

button:not(.btn-1-0-0),
input[type="submit"] {
  @include bordered;

  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--primary);

  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue-300);
  }

  &:focus {
    background-color: var(--blue-100);
  }

  &.danger {
    color: var(--danger);

    &:hover {
      color: var(--danger-hover);
    }
  }

  &.btn--bordered {
    border-color: var(--blue-300);
    background-color: var(--white);
    color: var(--black);

    &:hover {
      border-color: var(--blue-500);
    }
  }
}

.button {
  @include bordered;

  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--primary);
  text-align: center;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue-300);
  }

  &:focus {
    background-color: var(--blue-100);
  }

  &.danger {
    color: var(--danger);

    &:hover {
      color: var(--danger-hover);
    }
  }

  &.btn--bordered {
    border-color: var(--blue-300);
    background-color: var(--white);
    color: var(--black);

    &:hover {
      border-color: var(--blue-500);
    }
  }
}

.button-passive {
  background-color: var(--gray-400) !important;
}

.btn-1-0-0 {
  width: 100%;
  border: none;
  margin: 0;
  display: flex;
  padding: .8rem 1.2rem;
  color: white;
  cursor: pointer;

  svg {
    height: 16px;
    width: auto;
  }

  &.blue {
    background-color: var(--blue-200);

    &:hover, &:focus {
      background-color: var(--blue-100);
    }
  }

  &:has(:nth-child(2)) {
    span {
      flex-grow: 1;
    }
    justify-content: space-between;
  }

  &:not(:has(:nth-child(2))) {
    justify-content: space-around;
  }
}