$white: hsl(0, 0%, 97%);
$black: hsl(0, 0%, 20%);
$black-transparent: hsla(0, 0%, 20%, .2);

$gray-1: hsl(0, 0%, 70%);
$gray-2: hsl(0, 0%, 50%);
$gray-3: hsl(0, 0%, 30%);

$red-1: hsl(13, 100%, 95%);
$red-2: hsl(8, 50%, 80%);
$red-3: hsl(8, 60% ,65%);
$red-4: hsl(8, 70%, 60%);
$red-5: hsl(8, 80%, 50%);

$green-1: hsl(90, 100%, 95%);
$green-2: hsl(85, 40%, 80%);
$green-3: hsl(85, 50% ,60%);
$green-4: hsl(85, 65%, 57%);
$green-5: hsl(85, 85%, 50%);

$yellow-1: hsl(48, 100%, 96%);
//$yellow-2: hsl(85, 40, 80%);
$yellow-3: hsl(56, 58% ,96%);
//$yellow-4: hsl(85, 65, 57%);
$yellow-5: hsl(65, 88%, 95%);

$orange-1: hsl(35, 100%, 95%);
//$orange-2: hsl(100, 30, 100%);
$orange-3: hsl(38, 60%, 97%);
//$orange-4: hsl(100, 30, 100%);
$orange-5: hsl(38, 92%, 92%);

$brown-1: hsl(36, 30%, 90%);
$brown-2: hsl(36, 39%, 83%);
$brown-3: hsl(36, 45%, 43%);
$brown-5: hsl(36, 76%, 25%);
$brown-transparent: hsla(36, 76%, 25%, .2);
