<%# locals: (title:, icon:) %>

<div style="margin-bottom: 16px; display: flex; justify-content: center; align-items: center;">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: var(--gray-200); color: white; border-radius: 99rem; height: 160px; width: 160px;">
    <div class="centered">
      <%= forticon icon, height: 32 %>
    </div>

    <h2 class="centered" style="margin: 0; padding: 0; color: white;">
      <%= title %>
    </h2>
  </div>
</div>
