<%= stylesheet_link_tag "home" %>

<%= render 'common/header', show_text_title: true do %>

  <div class="filler-one">
    <div class="filler-one__white-top"></div>
    <div class="filler-one__white-bottom"></div>
  </div>

<% end %>

<p style="text-align: center; margin-bottom: 3rem;">wir sind im umbau</p>
