<%= stylesheet_link_tag "home" %>

<%= render 'common/header', show_text_title: true do %>

  <div class="filler-one">
    <div class="filler-one__white-top"></div>
    <div class="filler-one__white-bottom"></div>
  </div>

<% end %>

<h1>some</h1>
<p>ccc</p>

<h2>some</h2>
<p>bbb</p>

<h3>some</h3>
<p>aaa</p>

<h1>aa</h1>
<p>ccc</p>

<h2>bb</h2>
<p>bbb</p>

<h3>cc</h3>
<p>aaasome</p>
