<h1>Editiere Seite [/<%= @page.url %>]</h1>

<%= render "form", page: @page %>

<br>

<div>
  <%= link_to "Diese Seite anzeigen", page_path(@page.url) %> |
  <%= link_to "Zurück zu allen Seiten", pages_path %>
</div>
