<%= render @page %>

<% if @current_user.has_read_rights %>
  <div>
    <%= link_to "Diese Seite editieren", edit_page_path(@page) %> |
    <%= link_to "Zurück zu allen Seiten", pages_path %>
  </div>
<% end %>
