<%# locals: (form:, field:, label:) %>

<div class="checkbox-dialog">
  <%= form.label field do %>

    <label class="checkbox-dialog__label">
      <%= form.check_box field,
                         class: 'checkbox-dialog__checkbox',
                         onchange: "this.checked ? this.closest('.checkbox-dialog').querySelector('.checkbox-dialog__content').showModal() : null;"%>
      <span class="checkbox-dialog__text"><%= label %></span>
    </label>

    <dialog class="checkbox-dialog__content">
      <div tabindex="1">
        <%= yield %>
      </div>
      <button type="button"
              tabindex="2"
              class="checkbox-dialog__close-content"
              onclick="this.closest('dialog').close()">
        Als gelesen markieren
      </button>
    </dialog>

  <% end %>
</div>
