@use 'vars/colors' as *;
@use 'vars/spacings' as *;
@use 'vars/borders';

.text-input {
  width: 100%;
}

.text-input__label-wrapper {
  width: 100%;
  display: block;
}

.text-input__label {
  font-size: 1.2rem;
  margin-bottom: $space-4;
}

.text-input__input {
  height: 48px;
  box-shadow: 0 6px 0 -2px $brown-transparent;
  border-radius: borders.$radius;
  border: 1px solid $brown-5;
  padding: $space-4 $space-8;
  font-size: 1rem;
  width: 100%;
}


.text-input__area {
  @extend .text-input__input;

  resize: none;
  height: auto;
}


// error styles
.text-input:has(.text-input__error) .text-input__input,
.text-input:has(.text-input__error) .text-input__area {
  border-color: $red-5;
}

.text-input__error {
  fill: $red-5;
  color: $red-5;
  padding-left: $space-4;
  display: flex;
  align-items: center;
  gap: $space-4;
}
