@use 'vars/colors' as *;
@use 'vars/spacings' as *;

// header overwrites
.header {
  background-color: transparent !important;
  background: linear-gradient(to bottom, #fff, #00000000) !important;
  border-radius: 0 0 0 0!important;
}

.header__image {
  margin-top: $space-16 !important;

  @media (min-width: 768px) {
    max-height: 20rem !important;
  }
}

.nav {
  position: absolute;
  top: 0;
}

.filler-one {
  z-index: -1;
  margin-top: -14rem;
  background-color: $gray-1;
  height: 68vh;
  width: 100%;
  display: block;
  background-image: url('/images/filler-one-bg.jpeg');
  background-size: cover;
  background-position: top;
  position: relative;
  
  @media (min-width: 768px) {
    margin-top: -24rem;
  }
}

.filler-one__white-top {
  display: block;
  height: 24rem;
  width: 100%;
  @media (min-width: 768px) {
    //background: linear-gradient(to bottom, #fff, #fff, #fff, #00000000, #00000000);
  }
}

.filler-one__white-bottom {
  display: block;
  height: 8rem;
  width: 100%;
  background-color: $white;
  border-radius: 100% 100% 0 0;
  position: absolute;
  bottom: 0;
}

