@use 'vars/colors' as *;

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media  (max-width: 480px) {
    flex-direction: column;
  }
}

.login-banner-img {
  fill: $green-3;

  @media (max-width: 480px) {
    height: 4rem;
  }
}

.login-form {
  max-width: 256px;
}

.login-form__input {
  width: 100%;
}